<h1>Bets</h1>

<table *ngIf="bets" class="table text-center mt-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Bet Created Time</th>
      <th scope="col">Bet Value</th>
      <th scope="col">Bet Status</th>
    </tr>
  </thead>
  <tbody>
    <ng-container>
      <tr *ngFor="let bet of bets;">
        <td scope="row"> {{bet.createdDateTime | date : "MM/dd/yyyy hh:mm"}}</td>
        <td>{{bet.betValue}}</td>
        <td><h5><span class="badge badge-pill" [ngClass]="bet.isResolved ?  (isGuessed(bet) ? 'badge-success' : 'badge-danger') : 'badge-secondary'">{{bet.isResolved ? (isGuessed(bet) ? 'Won' : 'Lost') : 'Pending'}}</span></h5></td>
        <td><a [routerLink]='["/bets", bet.id]' class="nav-link">ViewDetails</a></td>
      </tr>
    </ng-container>

  </tbody>
</table>

