<h1>{{gameTypes[gameType].toString()}}</h1>

<table class="table text-center mt-5">
  <thead class="thead-dark">
    <tr class="">
      <th colspan="8" class="bg-info" scope="col">SPECIAL OFFER</th>
    </tr>
    <tr>
      <th scope="col">Time Starting</th>
      <th scope="col">Game</th>
      <ng-container *ngFor="let betType of betTypes | enumToArray">
        <th scope="col">{{getBetTypeName(betType)}}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody *ngIf="gamesData">
    <tr *ngFor="let game of gamesData.bestOffers;">
      <td>{{game.dateTimeStarting | date : "MM/dd/yyyy hh:mm"}}</td>
      <th scope="row">{{game.firstTeamName}} - {{game.secondTeamName}}</th>
      <ng-container *ngFor="let betType of betTypes | enumToArray">
        <td><button type="button" (click)="addCoefficient(game, betType, true)" [ngClass]="IsBetPlacedForCoefficient(game,betType) ? 'btn-success' : 'btn-light'" class="btn" *ngIf="getCoefficientValue(game, betType)">{{getCoefficientValue(game, betType)}}</button></td>
      </ng-container>
    </tr>
  </tbody>
</table>

<table class="table text-center mt-5">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Time Starting</th>
      <th scope="col">Game</th>
      <ng-container *ngFor="let betType of betTypes | enumToArray">
        <th scope="col">{{getBetTypeName(betType)}}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody *ngIf="gamesData">
    <tr *ngFor="let game of gamesData.otherOffers;">
      <td>{{game.dateTimeStarting | date : "MM/dd/yyyy hh:mm"}}</td>
      <th scope="row">{{game.firstTeamName}} - {{game.secondTeamName}}</th>
      <ng-container *ngFor="let betType of betTypes | enumToArray">
        <td><button type="button" (click)="addCoefficient(game, betType, false)" [ngClass]="IsBetPlacedForCoefficient(game,betType) ? 'btn-success' : 'btn-light'" class="btn" *ngIf="getCoefficientValue(game, betType)">{{getCoefficientValue(game, betType)}}</button></td>
      </ng-container>
    </tr>
  </tbody>
</table>
