<div class="main-nav">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-left">
    <a class='navbar-brand' [routerLink]='["/"]'>BettingSystem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="mainNavigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavigation">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sports
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a [routerLinkActive]='["active"]' [routerLink]='["sport/football"]' class="dropdown-item">
              Football
            </a>
            <a [routerLinkActive]='["active"]' [routerLink]='["sport/basketball"]' class="dropdown-item">
              Basketball
            </a>
            <a [routerLinkActive]='["active"]' [routerLink]='["sport/handball"]' class="dropdown-item">
              Handball
            </a>
          </div>
        </li>
        <li [routerLinkActive]='["active"]' class="nav-item">
          <a [routerLink]='["/bets"]' class="nav-link">
            Previous Bets
          </a>
        </li>
        <li [routerLinkActive]='["active"]' class="nav-item">
          <a [routerLink]='["/wallet"]' class="nav-link">
            Wallet
          </a>
        </li>

        <li [routerLinkActive]='["active"]' class="nav-item">
          <a [routerLink]='["/current-bet"]' class="nav-link">
            Current Bet <span *ngIf="!!getCurrentBetCount()" class="badge badge-success">{{getCurrentBetCount()}}</span>
          </a>
        </li>
      </ul>
      <span class="border-top my-3"></span>
    </div>
  </nav>
</div>
